html,
body {
  background: lightgray;
  z-index: 1;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

a,
button,
input,
label {
  cursor: pointer;
}

.link {
  color: black;
  text-decoration: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/************************************* startseite **********************************/
.logotext {
  position: absolute;
  font-size: 3.6rem;
  top: 30px;
  left: 35px;
  width: 250px;
  height: auto;
  /* background-color: lightgray; */
  color: rgb(82, 77, 173) !important;
  z-index: 10;
}

#about-text {
  text-indent: 255px;
  font-size: 3.1rem;
  display: none;
  padding-top: 35px;
  padding-left: 39px;
  max-width: 95vw;
  z-index: 100 !important;
}

.resizable-container {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 30px;
  overflow: hidden;
  resize: both;
  min-width: 50px;
  min-height: 30px;
  max-width: 150px;
  /* Three times the initial width */
  max-height: 90px;
  /* Three times the initial height */
  aspect-ratio: 5 / 3 !important;
  /* Desired aspect ratio */
}

.resizable-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  aspect-ratio: 5 / 3 !important;

}


.kursiv {
  font-style: italic;
}

.underline {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: black;
}

.zwei {
  text-decoration-color: rgb(82, 77, 173) !important;
}

.farbe1 {
  color: rgb(0, 140, 255);
}

.farbe1:hover,
.farbe2:hover,
.farbe3:hover {
  cursor: ew-resize;
}

.farbe2 {
  color: rgb(179, 134, 105);
}

.farbe3 {
  color: rgb(255, 110, 77);
}

.farbe4 {
  color: rgb(209, 121, 250);
}

.farbe5 {
  color: rgb(59 140 142);
}


.farbe4:hover,
.farbe5:hover {
  cursor: ns-resize;
}

.farbe6 {
  color: rgba(42, 41, 41, 0.245);
}

.farbe6:hover {
  cursor: all-scroll;
}


/************************************* texte **********************************/
.texte {
  align-items: center;
  justify-content: center;
  display: none;
  color: black;
  word-wrap: break-word;
  overflow-wrap: break-word;
  flex-direction: column;
  overflow: scroll;
}

.scrollable {
  pointer-events: auto;
}

/* .spacing {
  letter-spacing: 98% !important;
} */

.textcontainer {
  width: 100vw;
  padding: 80px 35px 150px 35px;
  overflow: scroll;
}

#textHonich {
  font-size: 2rem;
}

#textJohannes {
  font-size: 3.5rem;
  line-height: 110%;
  text-align: justify;
}

#textHeidenord {
  font-size: 1.5rem;
  line-height: 105%;
}

#textSelma {
  font-size: 2.5rem;
  line-height: 105%;
  align-items: center;
  text-align: justify;
}

#textProcessin {
  font-size: 2rem;
  line-height: 105%;
  align-items: center;
  justify-content: flex-end;
  text-align: justify;
  hyphens: auto;
}

.rechtsbuendig {
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.linksbuendig {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.center {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
}

/********************* Skalierung **********************/
.fullwidth,
.halbewidth,
.dreiviertelwidth,
.viertelwidth,
.ueberhalbheight,
.unterhalbheight {
  display: none;
  width: 100vw;
  height: 100vh;
}

.fullwidth {
  background-color: lightgray;
}

.viertelwidth {
  background-color: rgb(255, 110, 77);
}

.halbewidth {
  background-color: rgb(179, 134, 105);
}

.dreiviertelwidth {
  background-color: rgb(0, 140, 255);
}

.ueberhalbheight {
  background-color: rgb(59 140 142) !important;
}

.unterhalbheight {
  background-color: rgb(209, 121, 250) !important;
}

.rand {
  display: none;
}


.logotext-fullwidth {
  color: rgb(82, 77, 173) !important;
  background-color: lightgray;

}

.logotext-dreiviertelwidth {
  color: rgb(209, 121, 250) !important;
}

.logotext-dreiviertelwidth .zwei {
  text-decoration-color: rgb(209, 121, 250) !important;
}

.logotext-halbwidth {
  color: rgb(255, 110, 77) !important;
}

.logotext-halbwidth .zwei {
  text-decoration-color: rgb(255, 110, 77) !important;
}

.logotext-viertelwidth {
  color: rgb(0, 140, 255) !important;
}

.logotext-viertelwidth .zwei {
  text-decoration-color: rgb(0, 140, 255) !important;
}

.logotext-ueberhalbheight {
  color: rgb(179, 134, 105) !important;
}

.logotext-ueberhalbheight .zwei {
  text-decoration-color: rgb(179, 134, 105) !important;
}

.logotext-unterhalbheight {
  color: rgb(59 140 142) !important;
}

.logotext-unterhalbheight .zwei {
  text-decoration-color: rgb(59 140 142) !important;
}


/*************************** Navigation **************************/
.raumplan {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 70px;
  width: 110px;
  background-color: rgb(216, 216, 216);
  text-align: center;
  display: flex;
  align-items: center;
  cursor: none;
}

.raumplan * {
  pointer-events: none;
}



.grundriss {
  position: relative;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: 0;
  background-color: rgba(42, 41, 41, 0.245);
}



.raumblau,
.raumbraun,
.raumorange,
.raumlila,
.raumduli {
  position: absolute;
  border: 1px solid;
  top: 0;
  right: 0;
}

.raumblau {
  border-color: rgb(0, 140, 255);
  z-index: 1;
  width: 75%;
  height: 95%;
  margin: 1.5%;
}

.raumbraun {
  border-color: rgb(179, 134, 105);
  z-index: 2;
  width: 50%;
  height: 90%;
  margin: 3%;
}

.raumorange {
  border-color: rgb(255, 110, 77);
  z-index: 3;
  width: 25%;
  height: 85%;
  margin: 4.5%;
}

.raumlila {
  border-color: rgb(59 140 142);
  z-index: 4;
  width: 90%;
  height: 60%;
  margin: 7%;
  margin-top: 18%;
}

.raumduli {
  border-color: rgb(220, 153, 251);
  z-index: 4;
  width: 80%;
  height: 40%;
  margin: 12%;
  margin-top: 26%;
}

.ueberhalbheight.fullwidth .texte.fullwidth,
.ueberhalbheight.dreiviertelwidth .texte.dreiviertelwidth,
.ueberhalbheight.halbewidth .texte.halbewidth,
.ueberhalbheight.viertelwidth .texte.viertelwidth,
.unterhalbheight.fullwidth .texte.fullwidth,
.unterhalbheight.dreiviertelwidth .texte.dreiviertelwidth,
.unterhalbheight.halbewidth .texte.halbewidth,
.unterhalbheight.viertelwidth .texte.viertelwidth {
  display: none !important;
}

.leftbottom * {
  cursor: sw-resize;
}

.rightbottom * {
  cursor: se-resize;
}

.righttop * {
  cursor: ne-resize;
}

.lefttop * {
  cursor: nw-resize;
}

.leftbottom a,
.rightbottom a,
.righttop a,
.lefttop a {
  cursor: pointer;
}

.nav-cursor {
  position: absolute;
  top: 400px;
  left: 400px;
  display: none;
  z-index: 10000;
  cursor: none !important;
  pointer-events: none;
  transform: translate(-50%, -100%);
}

.show {
  display: block;
}